
    <div class="live-outer">
      <div class="flex">
        <div class="date">
          <h3 class="h3" id="<%= live.date %>">
            <a href="#<%= live.date %>">
              <%= live_date(live.date) %>
            </a>
          </h3>
          at <%= live.place %>
        </div>
        <div>
          <h3 class="title"><%= live.title %></h3>

          <% if live.img.present? %>
            <%= link_to("/images/live/#{live.img}") { image_tag "/images/live/#{live.img}", class: "image" } %>
          <% end %>

          <div>
            <%= live.text %>
          </div>
        </div>
      </div>
    </div>
