<li>
  <%= link_to "Top", "/" %>
</li>
<li>
  <%= link_to "Biography", "bio.html" %>
</li>
<li>
  <%= link_to "Discography", "disco.html" %>
</li>
<li>
  <%= link_to "Live", "live.html" %>
</li>
<li>
  <%= link_to "Video", "video.html" %>
</li>
<li>
  <%= link_to "Twitter", "https://twitter.com/nkwors", target: '_blank' %>
</li>
<li>
  <%= link_to "Contact", "https://goo.gl/forms/mG7UfVwT9gSy060t2", target: '_blank' %>
</li>
