<li>
  <%= link_to "Top", "/" %>
</li>
<li>
  <%= link_to "News", "/news.html" %>
</li>
<li>
  <%= link_to "Biography", "/bio.html" %>
</li>
<li>
  <%= link_to "Discography", "/disco.html" %>
</li>
<li>
  <%= link_to "Live", "/live.html" %>
</li>
<li>
  <%= link_to "Video", "/video.html" %>
</li>
<li>
  <%= link_to "Twitter", "https://twitter.com/nkwors", target: '_blank' %>
</li>
<li>
  <%= link_to "Contact", contact_url, target: '_blank' %>
</li>
